*{
    font-family: Graphik Cond Web, Graphik, sans-serif;
    background-color:rgb(255, 255, 255);
}
#container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
}
h6{
    font-size: 50px;
    text-align: center;
    margin-top: 0%;
}
h3{
    margin: auto;
}
h4{
   margin: auto;
}
button{
    border-radius: 10px;
    background: transparent;
    border: 1px solid black;
    padding: 8px 13px;
    display: inline-block;
    margin-top: 5%;
    margin-left: 47%;
    cursor: pointer;
}
button:hover{
   background-color: black;
   color: white;
}
#git{
  cursor: pointer;
}