*{
    /* border: solid black;
    border-radius: 1px; */
    margin:1%;
    font-family: Graphik Cond Web, Graphik, sans-serif;
}
#head{
    display: grid;
    grid-template-columns: 10% 25% 30%;
    gap: 15%;
}
#containerImg{
    width: 100%;
    display: flex;
    margin-top: -15px;
}
#beforeAddingCartImages{
    display: grid;
    grid-template-columns: 49% 49%;
   row-gap: .5%;
   column-gap: 2%;
    width: 70%;
    grid-template-rows: auto;
    
}

img{
    width: 100%;
}
#textAndLikebutton{
    display: flex;
   
}
#likebutttonDiv{
    margin-top: 5px;
    margin-left: 50px;
   
}
#Pdetailcontainer{
    margin: 2%;
}
#selectcolorbutton{
background-position: center;
     width: 6%;
     height: 20px;
     border: none;
}
#selectcolorbutton2{
    background-position: center;
     width: 6%;
     height: 20px;
     border: none;
}
.scbt{
    background-position: center;
     width: 6%;
     height: 20px;
     border: none;
}
#addtoshopbag{
    background-color: black;
    color: white;
   height: 40px;
   width: 100%;
}
#searchsigncart{
    width: 10%;
    margin-top: -1%;
    font-size: 160%;
    justify-self: flex-end;
    
} 
#C {
  width: 100%;
 font-size: 100%;
 height: 30px;
  text-align:justify;
  border-style: groove;
  background-color: rgba(255, 255, 255, 0.664);
}
 /* #navbtn{
width: 18px;
height: 18px;
text-align: center;

}  */

#likedbutton{
    border-radius: 6px;
}
#sizeinst{
    color: black;
}
#BOTTOM{
    display: flex;
}
#BOTTOM h4 p{
margin-right: 30px;
margin-left: 40px;
}
#discovermoretxt{
    text-align: center;
}
#Sizecheck{
    width: 200px;
}
#adtxt{
    font-size: 20px;
    font-weight: bolder;
}
#addcart{
    width: 80px;
    background: none;
    border: none;
    margin-top: -10px;
    margin-left: 230px;
}
#wishlistbutton{
    font-size: 15px;
    background: none;
    border: none;
}
#Pdetailcontainer{
    margin-top: 0px;
}
#notxt{
   width: 100%;
   display: flex;
  position: relative;
  z-index:1;
   text-align: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 300%;
}
/* #headlogo{
    margin-left: 140px;
    margin-top: -40px;
} */
/* #navbtn{
    width: 40px;
     border-radius: 15px;
      height: 30px;
     background: none;
     margin-top: -15px;
     margin-left: -15px;
} */
/* #notxt{
    width: 10%;
    background-color: blue;
    margin-top:-10%;
    height: 80%;
} */
#cartItemNumber{
    font-size: 11px;
    width: 20px;
    margin-top: 100%;
    right: 60%;
    position: relative;
    z-index: 100;
    font-weight: 600;

}
#bt{
   margin-left: -40%;
   margin-top: -18%;

}
#headlogo{
    margin-right: -10%;
    margin-top: -4%;
 }

#logoclick{
    cursor: pointer;
    margin-left: 30%;
}
#n1{
    display: flex;
    gap: 5px;
    position: relative;
    z-index: 11;
    margin-left: -1%;
    margin-top: 0%;
    position: fixed;
}
#popout{
    position: absolute;
    z-index: 10;
    width: 20%;
    top:1px;
    height: 600px;
    margin-left: -2%;
    border: none;
    background-color: inherit;
    text-align: justify;
    position: fixed;
}
#poptext1{
    display: block;
    margin-top: 25%;
    margin-left: 5%;
    color: black;
    font-family:Graphik Cond Web, Graphik, sans-serif;
    font-weight: 900;
    line-height: 35px;
    font-style: normal;
}
.poptxtclass{
    cursor: pointer;
}
.poptxtclass:hover{
    font-size: 25px;
}
#n1>a{
    color:black;
}
#men1{
    color:black;
    cursor: pointer;
}
#line2{
    height: 20px;
    width: 2px;
    margin-top: 0px;
    background-color: black;
    border: none;
}
 #women1{
     cursor: pointer;
 }
 #cartborder{
    border-radius: 20px;
    border: 2px solid #6fd5a4;
    height: 55px;
    cursor: pointer;
}